<div class="cars-horizon">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row py-2">
                   <div class="col-md-7 car-image-block">
                        <h3> Mil Fragancias</h3>
                    </div>
                 
                    <button  type="button" class="btn btn-info " data-toggle="modal" data-target=".registro">	Carrito</button>
                   <div class="col-md-2 pt-1">
                       <a href="#"><i class="fa fa-th fa-2x pr-2"></i> </a>
                       <a href="#"><i class="fa fa-list-ul fa-2x"></i> </a>
                        
                        
                   </div>
               
                </div>
                
                 <div class="row mt-3 border">
                    
                    <div class="col-md-4 car-image-block">
                        <a href="#"><img src="http://www.elolfatista.com/wp-content/uploads/2012/07/colonias-y-perfumes-23.jpg"></a>
                    </div>
                    <div class="col-md-8 card-body ">
                        <a href="#"><h3>Dino</h3> </a>
                        
                        <h5>50,000</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">350Oz</li>
                             <li class="list-inline-item">Femenino</li>
                             <li class="list-inline-item">Stok</li>
                        </ul>
                        <button type="button" class="btn btn-outline-danger">Añadir al carrito</button>
                    </div>
                            
        </div><br>
                 <div class="row mt-3 border">
                    
                    <div class="col-md-4 car-image-block">
                        <a href="#"><img src="https://fimgs.net/images/perfume/375x500.10625.jpg"></a>
                    </div>
                    <div class="col-md-8 card-body ">
                        <a href="#"><h3>Antonio Miro</h3> </a>
                        
                        <h5>30,000</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">350Oz</li>
                             <li class="list-inline-item">Masculino</li>
                             <li class="list-inline-item">Stok</li>
                        </ul>
                        <button type="button" class="btn btn-outline-danger">Añadir al carrito</button>
                    </div>
                            
        </div><br>
                <div class="row mt-3 border">
                    
                    <div class="col-md-4 car-image-block">
                        <a href="#"><img src="https://fimgs.net/images/perfume/375x500.10625.jpg"></a>
                    </div>
                    <div class="col-md-8 card-body ">
                        <a href="#"><h3>Antonio Miro</h3> </a>
                        
                        <h5>30,000</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">350Oz</li>
                             <li class="list-inline-item">Masculino</li>
                             <li class="list-inline-item">Stok</li>
                        </ul>
                        <button type="button" class="btn btn-outline-danger">Añadir al carrito</button>
                    </div>
                            
        </div><br>
              
                
            </div>
        </div>
        
    </div>
</div>
<div class="modal fade registro" id="myModall" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Registro</h4>
                </div>
                <div class="modal-body">
                  <div class="container">

                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <form accept-charset="UTF-8" action="" method="POST">
                             
                             

                              <button id="btnEnviar" class="btn btn-info" type="button">Comprar</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                  <br>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
                </div>
            </div>
  